body {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: #a5ccd1;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
}

main {
  margin: 0 auto;
  width: 1300px;
  position: relative;
}

.correio {
  width: 70%;
  float: left;
  top: 13px;
  position: relative;
}

.correio a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
}

.link li img {
  width: 40px;
  height: auto;
}

.link li {
  display: inline-block;
  position: relative;

  top: 10px;
}

.link {
  width: 20%;
  float: right;
  bottom: 6px;
  position: relative;
}

.espa {
  width: 1300px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 90px;
}

.logo img {
  height: 115px;
  width: 286px;

  align-content: center;

  right: 150px;
  bottom: 15px;
  left: -127px;
}

.logo {
  position: relative;
  right: 70px;
}

.menu-suspenso {
  justify-content: center;
  align-items: center;
  display: flex;
}

.menu-suspenso ul li {
  display: inline-block;

  margin-right: 15px;
}

.menu-suspenso ul li a {
  color: #333333;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.histo-container {
  margin: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  position: relative;
  top: 50px;
}
.histo-container img {
  width: 535px;
  height: 535px;
  padding-right: 30px;
}
.histo-text {
  width: 500px;
  justify-content: center;
  align-content: center;
  text-align: left;
}

.histo-text p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  line-height: 26px;
  color: #818181;
  font-weight: 400;
  margin: 30px;
  position: relative;
  right: 25px;
}

.histo-text h1 {
  color: #203a79;
  text-transform: uppercase;
  margin-bottom: 50px;
}
