body {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;





}

.menu {
    background-color: #a5ccd1;
    height: 60px;
}

main {
    margin: 0 auto;
    width: 1300px;
    position: relative;


}

.correio {
    width: 70%;
    float: left;
    padding: 16px;

}

.correio a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

.link li img {
    width: 40px;
    height: auto;
}

.link li {
    display: inline-block;
    position: relative;

    top: 10px;

}

.link {
    width: 20%;
    float: right;
}

.espa {
    width: 1300px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 130px;
}



.logo img {
    position: relative;
    height: 150px;
    width: auto;
    padding: 15px;
    align-content: center;
    display: flex;
    right: 150px;
    bottom: 15px;
}

.logo {
    position: relative;
    right: 70px;
}



.menu-suspenso {
    justify-content: center;
    align-items: center;
    display: flex;
}



.menu-suspenso ul li {
    display: inline-block;

    margin-right: 15px;

}

.menu-suspenso ul li a {
    color: #333333;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Produtosgale {
    align-items: center;
    justify-content: center;
    display: flex;
}


.pro-container {
    top: 40px;
    position: relative;
    width: 1300px;
    height: 900px;
    justify-content: center;
    align-items: center;


    overflow: hidden;

}

.proitens {
    width: 30%;
    margin: 5px;
    float: left;
    box-sizing: border-box;
    margin: 20px;
}

.proitens img {
    width: 100%;
    height: 100%
}

.caption {
    font-size: 20px;
    color: black;
    left: 130px;
    position: relative;
}

.texinfo ul li {

    margin-bottom: 10px;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
}

.texinfo ul li a {

    color: #007FFF;
    font-size: 20px;
    text-decoration: none;
}

.rodape {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 70px;
    background-color: #a5ccd1;
    align-items: center;
    font-size: 17px;


}

.info {
    display: flex;
    width: 100%;
    height: 450px;
    justify-content: center;
    align-items: center;
    border-top: 20px solid aquamarine;
    top: 50px;
    position: relative;
}

.Menuinfo {
    width: 350px;
    justify-content: center;
    display: flex;
}

.imginfo img {
    width: 450px;
    height: auto;
}