body {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.menu {
  background-color: #203a79;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
}

main {
  margin: 0 auto;
  width: 1300px;
  position: relative;
}

.correio {
  width: 70%;
  float: left;
  padding: 16px;
  color: white;
}

.correio a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
}

.link li img {
  width: 40px;
  height: auto;
}

.link li {
  display: inline-block;
  position: relative;

  top: 10px;
}

.link {
  width: 20%;
  float: right;

}

.espa {
  width: 1300px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 140px;
}

.logo img {
  height: 125px;
    width: 351px;
  align-content: center;
  right: 150px;

  left: -38px;
  position: relative;
}

.logo {
  position: relative;
  right: 70px;
}

.menu-suspenso {
  justify-content: center;
  align-items: center;
  display: flex;
}

.menu-suspenso ul li {
  display: inline-block;

  margin-right: 15px;
}

.menu-suspenso ul li a {
  color: #333333;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  top: 7px;
  position: relative;
  margin: 10px;
}

.carousel {
  display: flex;
  height: 400px;
  max-height: 500px;
  overflow: hidden;
}

.proj {
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 472px;
}

.carou {
  width: 100%;
  max-height: 150px;
  height: 100%;
  background-position: center;
}

.carou img {
  object-fit: cover;
}

.slick-track {
  height: 400px;
  display: flex;
}

button.slick-prev {
  font-size: 0px;
  border: none;
  height: 50px;
  width: 50px;
  background-color: transparent;
  background-image: url(/images/seta\ a.png);
  z-index: 9;
  position: absolute;
  top: 130%;
  left: 60px;
}

button.slick-prev img {
  width: 50px;
  height: auto;
}

button.slick-next {
  font-size: 0px;
  border: none;
  height: 50px;
  width: 50px;
  background-color: transparent;
  background-image: url(/images/seta\ p.png);
  z-index: 9;
  position: absolute;
  right: 0;
  bottom: -75px;
  right: 60px;
}

button.slick-next img {
  width: 50px;
  height: auto;
}

ul.slick-dots li button {
  font-size: 0px;
  border: 3px solid #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: blue;
  background: transparent;
  cursor: pointer;
}

.slick-dots li {
  list-style: none;
  display: inline-block;
  padding-left: 10px;
}

.slick-dots li.slick-active button {
  background-color: black;
}

.slick-dots {
  margin: 0 auto;
  width: 50%;
  left: 22%;
  top: -52%;
  position: relative;
}

.texti {
  height: 60px;
  position: relative;
  text-align: center;
  font-size: 60px;
  bottom: 70px;
}

.texti h1 {
  text-align: center;
  font-size: 60px;
  color: black;
  font-family: "Times New Roman", Times, serif;
  opacity: 100%;
}

.texti h1 strong {
  text-align: center;
  font-size: 70px;
  color: #414288;
}

.expro {
  display: flex;
  margin: 0 auto;
}

.Textp h1 {
  font-size: 40px;
  color: #296eb4;
}

.Textp p {
  font-size: 20px;
  color: #b0b2b8;
}

.Textp {
  width: 50%;
  position: relative;
  left: 160px;
}

.galery {
  height: auto;
  width: 500px;
  columns: 3;
  column-gap: -3px;
  left: 50px;
  position: relative;
}

.galeimg {
  width: 220px;
  height: 220px;
}

.galeimg img {
  width: 180px;
  height: 180px;
}

.conteudo {
  height: auto;
  width: 100%;
  opacity: 50%;
  border-bottom: 1px solid black;
}

.botaop {
  width: 400px;
  height: 70px;
  border: 3px solid black;
  border-radius: 10px;
  font-size: 20px;
  text-transform: uppercase;
  bottom: 10px;
  position: relative;
}

.histo {
  width: 100%;
  height: 370px;
}

.histo img {
  width: 100%;
  height: 370px;
}

.ourhisto {
  width: 36%;
  height: 50%;
  position: relative;
  bottom: 250px;
  left: 850px;
  color: white;
  bottom: 300px;
}

.ourhisto p {
  font-size: 20px;
}

.ourhisto h1 {
  font-size: 25px;
}

.ourhisto a button {
  width: 180px;
  height: 60px;
  position: relative;
  background-color: black;
  color: #fff;
  border: 2px solid white;
  font-size: 17px;
  text-transform: uppercase;
}

.pace-mundo img {
  position: relative;
  bottom: 50px;
}

.pace-mundo {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
}

.textpm {
  width: 860px;
  height: 100px;
}

.pace-mundo h1 {
  font-size: 40px;
}

.pace-mundo p {
  font-size: 18px;
}

.texinfo ul li {
  margin-bottom: 10px;
  list-style: none;
  text-decoration: none;
  font-size: 20px;
  color: #203a79;

}

.texinfo{
  color: #203a79;
  font-size: 18px;
}

.texinfo ul li a {
  color: #203a79;
  font-size: 18px;
  text-decoration: none;
}
.Menuinfo ul li a{
  text-decoration: none;
  font-size: 20px;
  color: #b0b2b8;
  opacity: 80%;
}
.Menuinfo ul li{
  list-style: none;

}
.rodape {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 70px;
  background-color: #203a79;
  align-items: center;
  font-size: 17px;
}
.footer{
  color: #fff
}

.info {
  display: flex;
  width: 100%;
  height: 450px;
  justify-content: center;
  align-items: center;
  border-top: 20px solid #203a79;
}

.Menuinfo {
  width: 350px;
  justify-content: center;
  display: flex;
}

.imginfo img {
  width: 415px;
  height: auto;
}